<ion-content>
    <div class="billing-detail-cont">
        <div class="background-header"></div>
        <div class="header-container">
            <ion-toolbar class="toolbar-style">
                <ion-buttons (click)="back()" slot="start">
                    <ion-icon size="large" icon="chevron-back"></ion-icon>
                </ion-buttons>
                <ion-title class="header-title">FLIGHT INFO</ion-title>
            </ion-toolbar>
        </div>
        <div class="content-container">
            <div class="flight-info">
                <ion-card>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6">
                                    <div class="content-flight">
                                        <span class="title-style-1 arrival">Arrival</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <div class="content-flight">
                                        <span class="title-style-1">GA 001</span> <span
                                            class="status-style int">Int</span>
                                        <span class="status-style destination">CGK</span>
                                        <ion-icon class="arrow-style" icon="arrow-forward-outline"></ion-icon> <span
                                            class="status-style destination">SIN</span>
                                    </div>
                                </ion-col>
                                <ion-col size="6">
                                    <div class="content-flight right">
                                        <span class="title-style-1">Reg No: </span><span
                                            class="title-style-1 destination">123123</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <hr style="border-top: 1px solid;" />
                            <ion-row>
                                <ion-col size="6">
                                    <div class="content-flight">
                                        <span class="title-style-1 depature">Departure</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <div class="content-flight">
                                        <span class="title-style-1">GA 001</span> <span
                                            class="status-style int">Int</span>
                                        <span class="status-style destination">CGK</span>
                                        <ion-icon class="arrow-style" icon="arrow-forward-outline"></ion-icon> <span
                                            class="status-style destination">SIN</span>
                                    </div>
                                </ion-col>
                                <ion-col size="6">
                                    <div class="content-flight right">
                                        <span class="title-style-1">Reg No: </span><span
                                            class="title-style-1 destination">123123</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <hr />
                        <ion-grid>

                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </div>
            <div class="estimate-billing">
                <ion-card>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    <div class="content-flight">
                                        <span class="title-style-1 value">Type</span>
                                    </div>
                                </ion-col>
                                <ion-col size="4">
                                    <div class="content-flight center">
                                        <span class="title-style-1 value">Product</span>
                                    </div>
                                </ion-col>
                                <ion-col size="4">
                                    <div class="content-flight right">
                                        <span class="title-style-1 value">Total</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ng-container>
                                <ion-row>
                                    <ion-col size="4">
                                        <div class="content-flight">
                                            <span class="title-style-1">sfdsf</span>
                                        </div>
                                    </ion-col>
                                    <ion-col size="4">
                                        <div class="content-flight center">
                                            <span class="title-style-1">dsfdsf</span>
                                        </div>
                                    </ion-col>
                                    <ion-col size="4">
                                        <div class="content-flight right">
                                            <span class="title-style-1 total">asdsad</span>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ng-container>
                            <hr style="border-top: 1px solid;" />
                            <ion-row>
                                <ion-col size="6">
                                    <div class="content-flight right">
                                        <span class="status-style complete">Complete</span>
                                    </div>
                                </ion-col>
                                <ion-col size="6">
                                    <div class="content-flight right">
                                        <span class="title-style-1 value">asdsad</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>


</ion-content>