<ion-content>
    <div class="billing-detail">
        <div class="background-header"></div>
        <div class="header-container">
            <ion-toolbar class="toolbar-style">
                <ion-buttons (click)="back()" slot="start">
                    <ion-icon size="large" icon="chevron-back"></ion-icon>
                </ion-buttons>
                <ion-title class="header-title">FLIGHT INFO</ion-title>
            </ion-toolbar>
        </div>
        <div class="content-container">
            <ion-card>
                <ion-card-content>
                 
                </ion-card-content>
            </ion-card>
        </div>
    </div>


</ion-content>