<ion-content>
    <div class="flight-info">
        <div class="header-container">
            <ion-toolbar class="toolbar-style">
                <ion-buttons (click)="back()" slot="start">
                    <ion-icon size="large" icon="chevron-back"></ion-icon>
                </ion-buttons>
                <ion-title class="header-title">FLIGHT INFO</ion-title>
            </ion-toolbar>
        </div>
        <div class="content-container">
            <ng-container *ngFor="let data of flightList; let i = index">
                <ion-card (click)="onClickList(data)">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="8">
                                    <div class="content-flight">
                                        <img class="logo-style" src="./../../../assets/svg/flightact-round.svg"
                                            alt="flight act" />
                                        <div style="margin-left: 5px;" class="title-style-1">
                                            Landed
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col size="4">
                                    <div class="content-flight right">
                                        <span class="status-style complete">Complete</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6">
                                    <div class="content-flight">
                                        <span class="title-style-1">Arrival</span>
                                    </div>
                                </ion-col>
                                <ion-col size="6">
                                    <div class="content-flight right">
                                        <span class="title-style-1">{{ data?.ARRIVAL?.FLIGHT_NO }}</span>
                                        <span *ngIf="data.ARRIVAL.CATEGORY_CODE == 'I'" class="status-style int"> Int
                                        </span>
                                        <span *ngIf="data.ARRIVAL.CATEGORY_CODE == 'D'" class="status-style int"> Dom
                                        </span>
                                        <span class="status-style destination">{{ data?.ARRIVAL?.STATION1 }}</span>
                                        <ion-icon class="arrow-style" icon="arrow-forward-outline"></ion-icon> <span
                                            class="status-style destination">{{ data?.ARRIVAL?.STATION2 }}</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6">
                                    <div class="content-flight">
                                        <span class="title-style-1">Departure</span>
                                    </div>
                                </ion-col>
                                <ion-col size="6">
                                    <div class="content-flight right">
                                        <span class="title-style-1">{{ data?.DEPARTURE?.FLIGHT_NO }}</span>
                                        <span *ngIf="data.DEPARTURE.CATEGORY_CODE == 'I'" class="status-style int"> Int
                                        </span>
                                        <span *ngIf="data.DEPARTURE.CATEGORY_CODE == 'D'" class="status-style int"> Dom
                                        </span>
                                        <span class="status-style destination">{{ data?.DEPARTURE?.STATION1 }}</span>
                                        <ion-icon class="arrow-style" icon="arrow-forward-outline"></ion-icon> <span
                                            class="status-style destination">{{ data?.DEPARTURE?.STATION2 }}</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="7">
                                    <div class="content-flight">
                                        <span class="title-style-1">STAD: {{ data.ARRIVAL?.STAD }}</span>
                                    </div>
                                </ion-col>
                                <ion-col size="5">
                                    <div class="content-flight right">
                                        <span class="title-style-1 detail">Detail</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </div>
    </div>
</ion-content>