<ion-content>
    <div class="flight-info">
        <div class="header-container">
            <ion-toolbar class="toolbar-style">
                <ion-buttons (click)="generalService.goBack()" slot="start">
                    <ion-icon size="large" icon="chevron-back"></ion-icon>
                </ion-buttons>
                <ion-title class="header-title">FLIGHT INFO</ion-title>
            </ion-toolbar>
        </div>
        <div class="content-container">
            <ng-container *ngFor="let data of flightList; let i = index">
                <ion-card [routerLink]="['/flight/flight-detail/', data.id]">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="8">
                                    <div class="content-flight">
                                        <img class="logo-style" src="../../../assets/svg/flightact-round.svg"
                                            alt="flight act" />
                                        <div style="margin-left: 5px;" class="title-style-1">
                                            Landed
                                        </div>
                                    </div>
                                </ion-col>
                                <ion-col size="4">
                                    <div class="content-flight right">
                                        <span class="status-style complete">{{ data.status }}</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6">
                                    <div class="content-flight">
                                        <span class="title-style-1">Arrival</span>
                                    </div>
                                </ion-col>
                                <ion-col size="6">
                                    <div class="content-flight right">
                                        <span class="title-style-1">{{ data.arrival.flightNo }}</span> <span
                                            class="status-style int">{{ data.arrival.flightType }}</span>
                                        <span class="status-style destination">{{ data.arrival.from }}</span>
                                        <ion-icon class="arrow-style" icon="arrow-forward-outline"></ion-icon> <span
                                            class="status-style destination">{{ data.arrival.to }}</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6">
                                    <div class="content-flight">
                                        <span class="title-style-1">Departure</span>
                                    </div>
                                </ion-col>
                                <ion-col size="6">
                                    <div class="content-flight right">
                                        <span class="title-style-1">{{ data.derpature.flightNo }}</span> <span
                                            class="status-style int">{{ data.derpature.flightType }}</span>
                                        <span class="status-style destination">{{ data.derpature.from }}</span>
                                        <ion-icon class="arrow-style" icon="arrow-forward-outline"></ion-icon> <span
                                            class="status-style destination">{{ data.derpature.to }}</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="7">
                                    <div class="content-flight">
                                        <span class="title-style-1">STAD: {{ data.stad }}</span>
                                    </div>
                                </ion-col>
                                <ion-col size="5">
                                    <div class="content-flight right">
                                        <span class="title-style-1 detail">Detail</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </div>
    </div>
</ion-content>