.pax-form {
	.content-container {
		position: relative;
		margin-top: 15px;
		padding-bottom: 70px;
		.content-flight {
			height: 100%;
			display: flex;
			width: 100%;
		}
		.title-style-1 {
			font-style: normal;
			font-weight: normal;
			font-size: 3vw;
			align-items: center;
			color: #000000;
			margin-top: auto;
			margin-bottom: auto;
			&.value {
				font-size: 4vw;
				color: #146CAB;
				font-weight: bold;
			}
		}
	}
	.footer-style {
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 9999;
		padding: 10px;
		background: white;
	}
	.toolbar-style {
		--background: #146CAB;
		--color: white;
	}
}

.header-container {
    position: relative;
}

.header-title{
	text-align: center;
    font-size: 5vw;
    margin-left: -9px;
    text-transform: none !important;
}