<ion-content>
    <div class="flight-schedule-cont">
        <div class="background-header"></div>
        <div class="header-container">
            <ion-toolbar class="toolbar-style">
                <ion-buttons (click)="generalService.goBack()" slot="start">
                    <ion-icon size="large" icon="chevron-back"></ion-icon>
                </ion-buttons>
                <ion-title class="header-title">SCHEDULE</ion-title>
            </ion-toolbar>
        </div>
        <div class="content-container">
            <ion-card>
                <ion-card-content>
                    <form [formGroup]="formSchedule" (ngSubmit)="onSubmit($event)" novalidate>
                        <div class="datepick-container">
                            <ion-label class="input-label">Start Date</ion-label>
                            <div class="input-date-cont">
                                <ion-row>
                                    <ion-col size="1">
                                        <ion-icon class="icon-datepick" size="small" icon="calendar-sharp"></ion-icon>
                                    </ion-col>
                                    <ion-col>
                                        <ion-datetime formControlName="startDate" class="input-date"
                                            displayFormat="DD-MMMM-YYYY"></ion-datetime>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>

                        <div class="datepick-container">
                            <ion-label class="input-label">End Date</ion-label>
                            <div class="input-date-cont">
                                <ion-row>
                                    <ion-col size="1">
                                        <ion-icon class="icon-datepick" size="small" icon="calendar-sharp"></ion-icon>
                                    </ion-col>
                                    <ion-col>
                                        <ion-datetime formControlName="endDate" class="input-date"
                                            displayFormat="DD-MMMM-YYYY"></ion-datetime>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>

                        <div class="textbox-container">
                            <ion-label class="input-label">Flight Number</ion-label>
                            <div class="input-text-cont">
                                <ion-input formControlName="flightNumber" class="input-text" placeholder="e.g Number">
                                </ion-input>
                            </div>
                        </div>

                        <div class="select-container">
                            <ion-label class="input-label">Status</ion-label>
                            <div class="input-select-cont">
                                <ion-select formControlName="status" interface="action-sheet" class="input-select"
                                    placeholder="Select One">
                                    <ion-select-option *ngFor="let statusOp of statusList" [value]="statusOp">
                                        {{statusOp.text}}</ion-select-option>
                                </ion-select>
                            </div>
                        </div>

                        <ion-button style="margin-top: 45px;" expand="block">SEARCH</ion-button>
                    </form>
                </ion-card-content>
            </ion-card>
        </div>
    </div>


</ion-content>