.flight-info-detail {
	.content-container {
		position: relative;
		margin-top: 15px;
		padding-bottom: 90px;

		.content-flight {
			height: 100%;
			display: flex;
			width: 100%;
			&.pax {
				cursor: pointer;
			}
			&.right {
				justify-content: flex-end;
			}
		}
		.title-header {
			font-style: normal;
			font-weight: bold;
			font-size: 5vw;
			align-items: center;
			color: #000000;
			margin-top: auto;
			margin-bottom: auto;
		}
		.title-style-1 {
			font-style: normal;
			font-weight: bold;
			font-size: 3vw;
			align-items: center;
			color: #000000;
			margin-top: auto;
			margin-bottom: auto;
			&.title-movement {
				font-size: 3.5vw;
			}
			&.arrival {
				color: #27AE60;
			}
			&.destination {
				color: #146CAB;
			}
			&.depature {
				color: #F2994A;
			}
			&.header-pax {
				font-weight: normal;
			}
		}
		.status-style {
			font-size: 3vw;
			text-align: right;
			margin-top: auto;
			margin-bottom: auto;
			color: #000000;
			&.complete {
				color: #27AE60;
			}
			&.destination {
				color: #146CAB;
			}
			&.int {
				color: #898989;
				margin: 0px 2px;
			}
			&.incomplete {
				color: #EB5757;
			}
		}
		.arrow-style {
			font-size: 3vw;
			margin: 0px 2px;
			margin-top: 0.5vw;
		}
	}
	.estimate-cont {
		text-align: center;
		cursor: pointer;
		margin-top: 15px;
		color: #146CAB;
		display: flex;
		width: 100%;
		justify-content: center;
		.text-style {
			font-size: 4vw;
			font-weight: bold;
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	.footer-style {
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 9999;
		padding: 10px;
		background: white;
	}
	.toolbar-style {
		--background: #146CAB;
		--color: white;
	}
}

.estimate-billing {
	.content-container {
		position: relative;
		margin-top: 5px;
		padding-bottom: 80px;
		.content-flight {
			height: 100%;
			display: flex;
			width: 100%;
			margin-bottom: 10px;
			&.right {
				justify-content: flex-end;
			}
			&.center {
				justify-content: center;
			}
		}
		.title-style-1 {
			font-style: normal;
			font-weight: normal;
			font-size: 3vw;
			align-items: center;
			color: #000000;
			margin-top: auto;
			margin-bottom: auto;
			&.value {
				font-size: 4vw;
				color: #146CAB;
				font-weight: bold;
			}
			&.total {
				font-weight: bold;
			}
		}
	}
	.toolbar-style {
		--background: #146CAB;
		--color: white;
	}
}

.header-container {
    position: relative;
}

.header-title{
	text-align: center;
    font-size: 5vw;
    margin-left: -40px;
    text-transform: none !important;
}