<ion-content>
    <div class="pax-form">
        <div class="header-container">
            <ion-toolbar class="toolbar-style">
                <ion-buttons (click)="generalService.goBack()" slot="start">
                    <ion-icon size="large" icon="chevron-back"></ion-icon>
                </ion-buttons>
                <ion-title *ngIf="pageType == 'new'" class="header-title">Create Avio</ion-title>
                <ion-title *ngIf="pageType == 'edit'" class="header-title">Edit Avio</ion-title>
            </ion-toolbar>
        </div>
        <form [formGroup]="formAvio" (ngSubmit)="onSubmit($event)" novalidate>
            <div class="content-container">
                <div style="padding: 10px 10px;">
                    <div class="datepick-container">
                        <ion-label class="input-label">Start Time</ion-label>
                        <div class="input-date-cont">
                            <ion-row>
                                <ion-col>
                                    <ion-datetime formControlName="startTime" class="input-date none-icon"
                                        displayFormat="DD-MMMM-YYYY hh:mm"></ion-datetime>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>

                    <div class="datepick-container">
                        <ion-label class="input-label">End Time</ion-label>
                        <div class="input-date-cont">
                            <ion-row>
                                <ion-col>
                                    <ion-datetime formControlName="endTime" class="input-date none-icon"
                                        displayFormat="DD-MMMM-YYYY hh:mm"></ion-datetime>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>

                    <!-- <div class="textbox-container">
                        <ion-label class="input-label">Frq</ion-label>
                        <div class="input-text-cont">
                            <ion-input formControlName="frq" class="input-text" placeholder="e.g Number">
                            </ion-input>
                        </div>
                    </div> -->

                    <div class="select-container">
                        <ion-label class="input-label">Avio Type</ion-label>
                        <div class="input-select-cont">
                            <ion-select formControlName="avioType" interface="action-sheet" class="input-select"
                                placeholder="Select One">
                                <ion-select-option *ngFor="let av of avioType" [value]="av.value">
                                    {{av.text}}</ion-select-option>
                            </ion-select>
                        </div>
                    </div>

                    <div class="select-container">
                        <ion-label class="input-label">Mov</ion-label>
                        <div class="input-select-cont">
                            <ion-select formControlName="mov" interface="action-sheet" class="input-select"
                                placeholder="Select One">
                                <ion-select-option *ngFor="let movs of movList" [value]="movs.id">
                                    {{movs.sort}} {{movs.title}}</ion-select-option>
                            </ion-select>
                        </div>
                    </div>

                </div>

            </div>
            <div class="footer-style">
                <ion-toolbar>
                    <ion-button type="submit" expand="block">Submit</ion-button>
                </ion-toolbar>
            </div>
        </form>
    </div>
</ion-content>