<ion-content>
    <div class="beranda-cont">
        <div class="header-container">
            <img class="logo-styles" src="./../../../assets/svg/angkasapuralogo.svg" alt="React Logo" />
            <div class="user-container">
                <img class="ava-styles" src="./../../../assets/svg/ava.svg" alt="React Logo" />
                <div class="profile-container">
                    <div class="fullname">
                        FACHRI RAMADHAN
                    </div>
                    <div class="airlines">
                        PT GARUDA INDONESIA - CGK
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="promo-container">
                <div>
                    <img class="image-style" src="./../../../assets/img/promo.png" alt="React Logo" />
                </div>
            </div>
            <div class="menu-container">
                <ion-row>
                    <ion-col [routerLink]="['/flight/flight-menu']" size="3">
                        <div class="submenu-container">
                            <img class="icon-style" src="./../../../assets/svg/flightact-round.svg" alt="React Logo" />
                            <div class="text">
                                Flight Activity
                            </div>
                        </div>
                    </ion-col>
                    <ion-col [routerLink]="['/billing/billing-menu']" size="3">
                        <div class="submenu-container">
                            <img class="icon-style" src="./../../../assets/svg/report-round.svg" alt="React Logo" />
                            <div class="text">
                                Report
                            </div>
                        </div>
                    </ion-col>
                    <ion-col [routerLink]="['/billing/billing-menu']" size="3">
                        <div class="submenu-container">
                            <img class="icon-style" src="./../../../assets/svg/billing-round.svg" alt="React Logo" />
                            <div class="text">
                                Billing
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="news-container">
                <div class="text-news">
                    News
                </div>

                <ion-grid>
                    <ion-row>
                        <ion-col size="6">
                            <div class="news-feed">
                                <img class="image-style" src="./../../../assets/img/news.png" alt="React Logo" />
                                <div class="text-style">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="news-feed">
                                <img class="image-style" src="./../../../assets/img/news.png" alt="React Logo" />
                                <div class="text-style">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="news-feed">
                                <img class="image-style" src="./../../../assets/img/news.png" alt="React Logo" />
                                <div class="text-style">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="news-feed">
                                <img class="image-style" src="./../../../assets/img/news.png" alt="React Logo" />
                                <div class="text-style">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </div>
</ion-content>