<ion-content>
    <div class="home-content">
        <div class="header-container">
            <ion-toolbar class="toolbar-style">
                <ion-title class="header-title">Home</ion-title>
            </ion-toolbar>
        </div>
        <div class="content-container">
            <ion-row>
                <ion-col [routerLink]="['/flight/flight-menu']" size="3">
                    <div class="submenu-container">
                        <img class="icon-style" src="./assets/svg/flightact-round.svg" alt="React Logo" />
                        <div class="text">
                            Flight Activity
                        </div>
                    </div>
                </ion-col>
                <ion-col [routerLink]="['/report/report-search']" size="3">
                    <div class="submenu-container">
                        <img class="icon-style" src="./assets/svg/report-round.svg" alt="React Logo" />
                        <div class="text">
                            Report
                        </div>
                    </div>
                </ion-col>
                <ion-col [routerLink]="['/billing/billing-menu']" size="3">
                    <div class="submenu-container">
                        <img class="icon-style" src="./assets/svg/billing-round.svg" alt="React Logo" />
                        <div class="text">
                            Billing
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>