
.home-content {
	.content-container {
		position: relative;
		margin-top: 15px;
        padding-bottom: 70px;
    }
}

.header-container {
    position: relative;
}

.header-title{
	text-align: center;
    font-size: 5vw;
    margin-left: -35px;
    text-transform: none !important;
}